@CHARSET "UTF-8";

body {
	margin: 0;
}

#shade,.modal {
	display: none;
}

#shade {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal {
	position: fixed;
	z-index: 101;
	top: 33%;
	border: 2px solid #dadada;
	width: 400px;
	left: 35%;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 7px;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

.modal table td {
	background-color: blue;
}

#shade {
	background: silver;
	opacity: 0.5;
}

#myModal {
	position: absolute;
	color:#426685;
	font-size:14px;
	top: 60px;
	left: 550px;
	margin-left: -300px;
	width: 220px;
	background: white;
	position: absolute;
	z-index: 101;
	padding: 10px 20px 34px;
	border-radius: 7px;
	border:2px solid #9ecaed; 
	box-shadow: 0 0 10px #9ecaed;
}

.close{
	font-size: 14px;
	line-height: .5;
	position: absolute;
	
	top: 8px;
	width:20px;
	height:20px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
	font-weight: bold;
	cursor: pointer;
}